# EPC Power specific options
#
# copied from arch/arm64/configs/imx.config
#

# disable other ARCH
CONFIG_ARCH_AGILEX=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_QCOM=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_STRATIX10=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZX=n
CONFIG_ARCH_ZYNQMP=n
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_INTEL_SOCFPGA=n

# disable features
CONFIG_HIBERNATION=n

# USB related
CONFIG_USB_OTG_WHITELIST=n
CONFIG_USB_HCD_TEST_MODE=n
CONFIG_USB_EHSET_TEST_FIXTURE=n
CONFIG_USB_CONFIGFS=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_SIMPLE=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_RTL8152=y
CONFIG_USB_USBNET=n

# networking related
CONFIG_BRCMFMAC=n
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_IMX8=y
CONFIG_FEC_UIO=y
CONFIG_TLS=y
CONFIG_TLS_DEVICE=y

# cpu-freq related
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=n
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=n

#remoteproc
CONFIG_IMX_REMOTEPROC=n
CONFIG_IMX_DSP_REMOTEPROC=n

#xen
CONFIG_XEN_NETDEV_BACKEND=n
CONFIG_XEN_I2C_BACKEND=n
CONFIG_XEN_WDT=n

#uio for jailhouse
CONFIG_UIO_IVSHMEM=y
CONFIG_VIRTIO_IVSHMEM=y

# crypto related
CONFIG_CRYPTO_CHACHA20POLY1305=m
CONFIG_CRYPTO_TLS=m
CONFIG_CRYPTO_CBC=m
CONFIG_CRYPTO_CTS=m
CONFIG_CRYPTO_LRW=m
CONFIG_CRYPTO_XTS=m
CONFIG_CRYPTO_XXHASH=m
CONFIG_CRYPTO_BLAKE2B=m
CONFIG_CRYPTO_BLAKE2S=m
CONFIG_CRYPTO_MD4=m
CONFIG_CRYPTO_MD5=m
CONFIG_CRYPTO_RMD160=m
CONFIG_CRYPTO_SHA512=m
CONFIG_CRYPTO_SHA3=m
CONFIG_CRYPTO_TGR192=m
CONFIG_CRYPTO_WP512=m
CONFIG_CRYPTO_ARC4=m
CONFIG_CRYPTO_BLOWFISH=m
CONFIG_CRYPTO_CAMELLIA=m
CONFIG_CRYPTO_CAST5=m
CONFIG_CRYPTO_CAST6=m
CONFIG_CRYPTO_SERPENT=m
CONFIG_CRYPTO_TWOFISH=m
CONFIG_CRYPTO_CFB=m
CONFIG_CRYPTO_OFB=m
CONFIG_CRYPTO_PCBC=m
CONFIG_CRYPTO_XCBC=m
CONFIG_CRYPTO_VMAC=m
CONFIG_CRYPTO_SM3=m
CONFIG_CRYPTO_STREEBOG=m
CONFIG_CRYPTO_ANUBIS=m
CONFIG_CRYPTO_DES=m
CONFIG_CRYPTO_FCRYPT=m
CONFIG_CRYPTO_KHAZAD=m
CONFIG_CRYPTO_SALSA20=m
CONFIG_CRYPTO_SEED=m
CONFIG_CRYPTO_SM4=m
CONFIG_CRYPTO_TEA=m
CONFIG_DM_CRYPT=m

# enable Trusted Keys based on CAAM
CONFIG_TRUSTED_KEYS=m
CONFIG_TRUSTED_KEYS_TPM=n
CONFIG_TRUSTED_KEYS_TEE=n
CONFIG_TRUSTED_KEYS_CAAM=y

# enable DMABUF heaps
CONFIG_DMABUF_HEAPS=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DMABUF_HEAPS_CMA=y
CONFIG_DMABUF_HEAPS_DSP=y

#disabled drivers
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_RFKILL=n
CONFIG_MWIFIEX=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_ATH10K=n
CONFIG_ATH10K_PCI=n
CONFIG_ATH10K_SNOC=n

#touch related
CONFIG_TOUCHSCREEN_EXC3000=n

#adc related
CONFIG_IMX93_ADC=n

#gpio related
CONFIG_GPIO_ADP5585=y
CONFIG_MFD_ADP5585=y

#sensor related
CONFIG_FXAS21002C=n
CONFIG_FXOS8700_I2C=n
CONFIG_RPMSG_IIO_PEDOMETER=n
CONFIG_SENSORS_ISL29018=n
CONFIG_MPL3115=n

#led related
CONFIG_LEDS_PCA995X=n

#audio
CONFIG_SND_SOC_FSL_XCVR=n
CONFIG_SND_SOC_IMX_CARD=n
CONFIG_RPMSG_CHAR=n
CONFIG_SND_SOC_SOF_COMPRESS=n
CONFIG_SND_ALOOP=n

#rtc
CONFIG_RTC_DRV_IMX_RPMSG=n

#key
CONFIG_KEYBOARD_RPMSG=n

# enable AF_ALG
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_USER_API_HASH=m
CONFIG_CRYPTO_USER_API_SKCIPHER=m
CONFIG_CRYPTO_USER_API_AEAD=m

# ipv6
CONFIG_IPV6=y
CONFIG_IPV6_SIT=m

# build-in drivers
CONFIG_ARM_IMX_CPUFREQ_DT=y
CONFIG_BT=n
CONFIG_BT_HIDP=n
CONFIG_BT_HCIUART=n
CONFIG_PCI_EPF_TEST=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_BLK_DEV_NVME=n
CONFIG_KEYBOARD_SNVS_PWRKEY=y
CONFIG_KEYBOARD_IMX_SC_KEY=y
CONFIG_SPI_IMX=y
CONFIG_SPI_SPIDEV=y
CONFIG_IMX_SC_THERMAL=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_IMX_SC_WDT=n
CONFIG_MEDIA_SUPPORT=y
CONFIG_DRM=y
CONFIG_MXC_GPU_VIV=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_MXSFB=n
CONFIG_IMX8MM_LCDIF_CORE=n
CONFIG_IMX_LCDIFV3_CORE=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_DRM_PANEL_RAYDIUM_RM68200=n
CONFIG_DRM_PANEL_ROCKTECK_HIMAX8394F=n
CONFIG_DRM_PANEL_SEIKO_43WVF1G=n
CONFIG_DRM_PANEL_WKS_101WX001=n
CONFIG_DRM_FSL_IMX_LVDS_BRIDGE=n
CONFIG_DRM_SEC_MIPI_DSIM=n
CONFIG_DRM_NXP_SEIKO_43WVFIG=n
CONFIG_DRM_CDNS_MHDP=n
CONFIG_DRM_CDNS_HDMI=n
CONFIG_DRM_CDNS_DP=n
CONFIG_DRM_CDNS_AUDIO=n
CONFIG_DRM_CDNS_HDCP=n
CONFIG_DRM_CDNS_HDMI_CEC=n
CONFIG_DRM_DW_HDMI=n
CONFIG_DRM_DW_HDMI_GP_AUDIO=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_DRM_ITE_IT6161=n
CONFIG_DRM_IMX=n
CONFIG_DRM_IMX8MM_LCDIF=n
CONFIG_DRM_IMX_LCDIF_MUX_DISPLAY=n
CONFIG_DRM_IMX_PARALLEL_DISPLAY=n
CONFIG_DRM_IMX_TVE=n
CONFIG_DRM_IMX_LDB=n
CONFIG_DRM_IMX8QM_LDB=n
CONFIG_DRM_IMX8QXP_LDB=n
CONFIG_DRM_IMX8MP_LDB=n
CONFIG_DRM_IMX93_LDB=n
CONFIG_DRM_IMX93_PARALLEL_DISPLAY_FORMAT=n
CONFIG_DRM_IMX_DW_MIPI_DSI=n
CONFIG_IMX8MP_HDMI_PAVI=n
CONFIG_DRM_IMX_HDMI=n
CONFIG_DRM_IMX_SEC_DSIM=n
CONFIG_DRM_IMX_DCNANO=n
CONFIG_DRM_IMX_DPU=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_DRM_IMX_CDNS_MHDP=n
CONFIG_DRM_IMX_LCDIFV3=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_SND_SOC_FSL_ASOC_CARD=n
CONFIG_SND_SOC_IMX_SPDIF=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_USB_CDNS3=n
CONFIG_USB_CDNS3_PCI_WRAP=n
CONFIG_USB_CDNS3_IMX=n
CONFIG_USB_CDNS_SUPPORT=n
CONFIG_TYPEC=n
CONFIG_TYPEC_TCPM=n
CONFIG_TYPEC_TCPCI=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_PWM_IMX27=n
CONFIG_PWM_ADP5585=n
CONFIG_PHY_FSL_IMX93_MIPI_DPHY=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_SND_SOC_WM8524=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_MHDP_HDMIRX=n
CONFIG_MHDP_HDMIRX_CEC=n
CONFIG_VIDEO_AP1302=n
CONFIG_DWC_MIPI_CSI2_HOST=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_FSL_IMX9_DDR_PMU=n
CONFIG_VIDEO_AMPHION_VPU=n
CONFIG_ETHOSU=n
CONFIG_VIDEO_MT9M114=n

# misc
CONFIG_MODVERSIONS=y
